<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winterframework.logistics.portal.entity.BizType">
	<resultMap id="BaseResultMap"
		type="com.winterframework.logistics.portal.entity.BizType">
	</resultMap>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id, number, name, status,special_flag as specialFlag,
		remark, creator_id as creatorId,
		create_time as createTime, updator_id
		as updatorId,
		update_time as
		updateTime
	</sql>

	<select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap"
		flushCache="false">
		select
		<include refid="Base_Column_List" />
		from pt_biz_type
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="getByIds" parameterType="list" resultMap="BaseResultMap"
		flushCache="false">
		select
		<include refid="Base_Column_List" />
		from pt_biz_type
		where id in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
		order by create_time desc
	</select>

	<select id="getMaxNumber" resultType="java.lang.String">
	 <![CDATA[	
		select MAX(number) as number from pt_biz_type
	  ]]>
	</select>

	<select id="getByAttribute" parameterType="com.winterframework.logistics.portal.entity.BizType"
		resultMap="BaseResultMap" flushCache="false">
		select
		<include refid="Base_Column_List" />
		from pt_biz_type
		where true
		<if test="id != null">
			and id =#{id}
		</if>
		<if test="status != null">
			and status=#{status}
		</if>
		<if test="number != null">
			and number=#{number,jdbcType=VARCHAR}
		</if>
		<if test="name != null">
			and name=#{name,jdbcType=VARCHAR}
		</if>
		<if test="remark != null">
			and remark=#{remark,jdbcType=VARCHAR}
		</if>
		<if test="specialFlag != null">
			and special_flag=#{specialFlag,jdbcType=INTEGER}
		</if>
		<if test="creatorId != null">
			and creatorId=#{creatorId,jdbcType=INTEGER}
		</if>
		<if test="createTime != null">
			and createTime=#{createTime,jdbcType=BIGINT}
		</if>
		<if test="updatorId != null">
			and updatorId=#{updatorId,jdbcType=INTEGER}
		</if>
		<if test="updateTime != null">
			and updateTime=#{updateTime,jdbcType=BIGINT}
		</if>
		order by create_time desc
	</select>


	<delete id="delete" parameterType="java.lang.Long">
		delete from pt_biz_type
		where
		id = #{id}
	</delete>

	<insert id="insert" parameterType="com.winterframework.logistics.portal.entity.BizType"
		useGeneratedKeys="true" keyProperty="id" flushCache="true">
		<selectKey keyProperty="id" order="AFTER" resultType="long">
			select
			LAST_INSERT_ID()
		</selectKey>
		insert into
		pt_biz_type (id, number, name,
		status, remark,
		special_flag,creator_id,
		create_time,
		updator_id, update_time
		)
		values
		(#{id,jdbcType=INTEGER},
		#{number,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR},#{specialFlag,jdbcType=INTEGER},
		#{creatorId,jdbcType=INTEGER},
		#{createTime,jdbcType=BIGINT},
		#{updatorId,jdbcType=INTEGER},
		#{updateTime,jdbcType=BIGINT}
		)
	</insert>

	<update id="update" parameterType="com.winterframework.logistics.portal.entity.BizType">
		update pt_biz_type
		<set>
			<if test="number != null">
				number =#{number,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status =#{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="specialFlag != null">
				special_flag=#{specialFlag,jdbcType=INTEGER},
			</if>
			<if test="creatorId != null">
				creator_id = #{creatorId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time =#{createTime,jdbcType=BIGINT},
			</if>
			<if test="updatorId != null">
				updator_id =#{updatorId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time =#{updateTime,jdbcType=BIGINT}
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>