<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winterframework.logistics.portal.entity.User">
	<resultMap id="BaseResultMap"
		type="com.winterframework.logistics.portal.entity.User">
	</resultMap>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
		id, user_name as userName, passwd, phone_number as
		phoneNumber, type, online, status,
		remark,
		creator_id as creatorId,
		create_time as createTime,
		updator_id as updatorId, update_time as
		updateTime
	</sql>

	<select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap"
		flushCache="false">
		select
		<include refid="Base_Column_List" />
		from pt_user
		where id = #{id}
	</select>

	<select id="getByIds" parameterType="list" resultMap="BaseResultMap"
		flushCache="false">
		select
		<include refid="Base_Column_List" />
		from pt_user
		where id in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
		order by create_time desc
	</select>

	<select id="getByAttribute" parameterType="com.winterframework.logistics.portal.entity.User"
		resultMap="BaseResultMap" flushCache="false">
		select
		<include refid="Base_Column_List" />
		from pt_user
		where true
		<if test="userName != null">
			and user_name=#{userName,jdbcType=VARCHAR}
		</if>
		<if test="phoneNumber != null">
			and phone_number=#{phoneNumber,jdbcType=VARCHAR}
		</if>
		<if test="type != null">
			and type=#{type,jdbcType=INTEGER}
		</if>
		<if test="online != null">
			and online=#{online,jdbcType=INTEGER}
		</if>
		<if test="status != null">
			and status=#{status,jdbcType=INTEGER}
		</if>
		order by create_time desc
	</select>

	<select id="getCountByAttribute" parameterType="com.winterframework.logistics.portal.entity.User"
		resultType="java.lang.Integer" flushCache="false">
		select COUNT(1)
		from pt_user
		where true
		<if test="userName != null">
			and user_name=#{userName,jdbcType=VARCHAR}
		</if>
		<if test="phoneNumber != null">
			and phone_number=#{phoneNumber,jdbcType=VARCHAR}
		</if>
		<if test="type != null">
			and type=#{type,jdbcType=INTEGER}
		</if>
		<if test="online != null">
			and online=#{online,jdbcType=INTEGER}
		</if>
		<if test="status != null">
			and status=#{status,jdbcType=INTEGER}
		</if>
	</select>



	<delete id="delete" parameterType="java.lang.Long">
		delete from pt_user
		where id =
		#{id}
	</delete>

	<insert id="insert" parameterType="com.winterframework.logistics.portal.entity.User">
		insert into pt_user (id,
		user_name, passwd,
		phone_number, type, online,
		status, remark,
		creator_id,
		create_time, updator_id, update_time
		)
		values
		(#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
		#{passwd,jdbcType=VARCHAR},
		#{phoneNumber,jdbcType=VARCHAR},
		#{type,jdbcType=INTEGER}, #{online,jdbcType=INTEGER},
		#{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
		#{creatorId,jdbcType=INTEGER},
		#{createTime,jdbcType=BIGINT},
		#{updatorId,jdbcType=INTEGER}, #{updateTime,jdbcType=BIGINT}
		)
	</insert>

	<update id="update" parameterType="com.winterframework.logistics.portal.entity.User">
		update pt_user
		<set>
		<if test="userName != null">
			user_name =#{userName,jdbcType=VARCHAR},
		</if>
		<if test="passwd != null">
			passwd = #{passwd,jdbcType=VARCHAR},
		</if>
		<if test="phoneNumber != null">
			phone_number = #{phoneNumber,jdbcType=VARCHAR},
		</if>
		<if test="type != null">
			type =#{type,jdbcType=INTEGER},
		</if>
		<if test="online != null">
			online = #{online,jdbcType=INTEGER},
		</if>
		<if test="status != null">
			status =#{status,jdbcType=INTEGER},
		</if>
		<if test="remark != null">
			remark = #{remark,jdbcType=VARCHAR},
		</if>
		<if test="creatorId != null">
			creator_id = #{creatorId,jdbcType=INTEGER},
		</if>
		<if test="createTime != null">
			create_time =#{createTime,jdbcType=BIGINT},
		</if>
		<if test="updatorId != null">
			updator_id =#{updatorId,jdbcType=INTEGER},
		</if>
		<if test="updateTime != null">
			update_time =#{updateTime,jdbcType=BIGINT}
		</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="getByUserName" parameterType="hashmap" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from pt_user
		where user_name = #{userName,jdbcType=VARCHAR}
	</select>
</mapper>