<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winterframework.logistics.common.entity.DeviceChangeStatus">
	<resultMap id="BaseResultMap"
		type="com.winterframework.logistics.common.entity.DeviceChangeStatus">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="device_id" jdbcType="INTEGER" property="deviceId" />
		<result column="from_status" jdbcType="INTEGER" property="fromStatus" />
		<result column="to_status" jdbcType="INTEGER" property="toStatus" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="creator_id" jdbcType="INTEGER" property="creatorId" />
		<result column="create_time" jdbcType="BIGINT" property="createTime" />
		<result column="updator_id" jdbcType="INTEGER" property="updatorId" />
		<result column="update_time" jdbcType="BIGINT" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, device_id,
		from_status,to_status,remark,creator_id,create_time,updator_id
		,update_time
	</sql>

	<select id="getByAttribute"
		parameterType="com.winterframework.logistics.common.entity.DeviceChangeStatus"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from lm_device_change_status where true
		<if test="id != null">
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="deviceId != null">
			and device_id = #{deviceId,jdbcType=INTEGER}
		</if>
		<if test="fromStatus !=null">
			and from_status= #{fromStatus,jdbcType=INTEGER}
		</if>
		<if test="toStatus !=null">
			and to_status=#{toStatus,jdbcType=INTEGER}
		</if>
		<if test="remark != null">
			and remark = #{remark,jdbcType=VARCHAR}
		</if>
		<if test="creatorId != null">
			and creator_id = #{creatorId,jdbcType=INTEGER}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime,jdbcType=BIGINT}
		</if>
		<if test="updatorId != null">
			and updator_id = #{updatorId,jdbcType=INTEGER}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime,jdbcType=BIGINT}
		</if>
		order by create_time desc
	</select>
	
	<select id="getCountByAttribute" parameterType="com.winterframework.logistics.common.entity.DeviceChangeStatus" resultType="java.lang.Integer">
		 select count(*)
		 from lm_device_change_status
		  where true 
		  <if test="id != null">
			and id = #{id,jdbcType=INTEGER}
		</if>
		<if test="deviceId != null">
			and device_id = #{deviceId,jdbcType=INTEGER}
		</if>
		<if test="fromStatus !=null">
			and from_status= #{fromStatus,jdbcType=INTEGER}
		</if>
		<if test="toStatus !=null">
			and to_status=#{toStatus,jdbcType=INTEGER}
		</if>
		<if test="remark != null">
			and remark = #{remark,jdbcType=VARCHAR}
		</if>
		<if test="creatorId != null">
			and creator_id = #{creatorId,jdbcType=INTEGER}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime,jdbcType=BIGINT}
		</if>
		<if test="updatorId != null">
			and updator_id = #{updatorId,jdbcType=INTEGER}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime,jdbcType=BIGINT}
		</if>
	</select>
	<delete id="delete" parameterType="long">
		delete from
		lm_device_change_status
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert"
		parameterType="com.winterframework.logistics.common.entity.DeviceChangeStatus">
		insert into lm_device_change_status
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="deviceId != null">
				device_id,
			</if>
			<if test="fromStatus != null">
				from_status,
			</if>
			<if test="toStatus != null">
				to_status,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="creatorId != null">
				creator_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updatorId != null">
				updator_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="deviceId != null">
				#{deviceId,jdbcType=INTEGER},
			</if>
			<if test="fromStatus != null">
				#{fromStatus,jdbcType=INTEGER},
			</if>
			<if test="toStatus != null">
				#{toStatus,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="creatorId != null">
				#{creatorId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=BIGINT},
			</if>
			<if test="updatorId != null">
				#{updatorId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

</mapper>