<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="com.winterframework.logistics.common.entity.DeviceLocationGps">
	<resultMap id="BaseResultMap" type="com.winterframework.logistics.common.entity.DeviceLocationGps">
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Base_Column_List">
	        	id as id,
	        	imei as imei,
	        	longitude as longitude,
	        	latitude as latitude,
	        	location_flag as locationFlag,
	        	speed as speed,
	        	direction as direction,
	        	factor as factor,
	        	time as time,
	        	status as status,
	        	remark as remark,
	        	handle_flag as handleFlag,
	        	creator_id as creatorId,
	        	create_time as createTime,
	        	updator_id as updatorId,
	        	update_time as updateTime
	</sql>
		<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
		<insert id="insert" parameterType="com.winterframework.logistics.common.entity.DeviceLocationGps" 
			useGeneratedKeys="true" keyProperty="id" 
		 flushCache="true">
	        INSERT INTO
	        lm_device_location_gps (
	        	imei ,
	        	longitude ,
	        	latitude ,
	        	location_flag,
	        	speed,
	        	direction,
	        	factor,
	        	time ,
	        	status,
	        	remark ,
	        	creator_id ,
	        	create_time
	        ) VALUES (
	        	#{imei,javaType=string,jdbcType=VARCHAR} ,
	        	#{longitude,javaType=double,jdbcType=DECIMAL} ,
	        	#{latitude,javaType=double,jdbcType=DECIMAL} ,
	        	#{locationFlag,javaType=integer,jdbcType=INTEGER} ,
	        	#{speed,javaType=integer,jdbcType=INTEGER} ,
	        	#{direction,javaType=integer,jdbcType=INTEGER} ,
	        	#{factor,javaType=double,jdbcType=DECIMAL} ,
	        	#{time,javaType=long,jdbcType=DECIMAL} ,
	        	#{status,javaType=integer,jdbcType=INTEGER} ,
	        	#{remark,javaType=string,jdbcType=VARCHAR} ,
	        	#{creatorId,javaType=long,jdbcType=DECIMAL} ,
	        	#{createTime,javaType=long,jdbcType=DECIMAL} 
	        )
		</insert>
	    
		<update id="update" parameterType="com.winterframework.logistics.common.entity.DeviceLocationGps">
	    <![CDATA[
	        UPDATE lm_device_location_gps SET
		        imei = #{imei,javaType=string,jdbcType=VARCHAR} ,
		        longitude = #{longitude,javaType=double,jdbcType=DECIMAL} ,
		        latitude = #{latitude,javaType=double,jdbcType=DECIMAL} ,
		        location_flag = #{locationFlag,javaType=integer,jdbcType=INTEGER} ,
		        speed = #{speed,javaType=integer,jdbcType=INTEGER} ,
		        direction = #{direction,javaType=integer,jdbcType=INTEGER} ,
		        factor = #{factor,javaType=double,jdbcType=DECIMAL} ,
		        time = #{time,javaType=long,jdbcType=DECIMAL} ,
		        status = #{status,javaType=integer,jdbcType=INTEGER} ,
		        handle_flag = #{handleFlag,javaType=integer,jdbcType=INTEGER} ,
		        remark = #{remark,javaType=string,jdbcType=VARCHAR} ,
		        updator_id = #{updatorId,javaType=long,jdbcType=DECIMAL} ,
		        update_time = #{updateTime,javaType=long,jdbcType=DECIMAL}
	        WHERE 
		        id = #{id} 
	    ]]>
		</update>
	   <delete id="delete" parameterType="java.lang.Long">
	        delete from lm_device_location_gps where id = #{id} 
	    </delete>   
	    <select id="getById" parameterType="long" resultMap="BaseResultMap" flushCache="false">
			select <include refid="Base_Column_List" />
		    <![CDATA[
			    from lm_device_location_gps 
		        where 
		        id = #{id} 
		    ]]>
		</select>	
		<select id="getByIds" parameterType="list"  resultMap="BaseResultMap" flushCache="false">
			select <include refid="Base_Column_List" />
			    from lm_device_location_gps 
		        where id in
				<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
#{item}				</foreach>					
		</select>	
</mapper>
